{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
	| Image Index
{% endblock %}

{% block principal %}
	<div class="hero hero-inner">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 mx-auto text-center">
					<div class="intro-wrap">
						<h1 class="mb-0">Galería</h1>
						<p class="text-white">Nuestros viajeros comparten aquí sus mejores experiencias.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
    <form action="{{ path('app_imagen_index_busqueda') }}" method="post">
        <label>Busqueda</label>
        <input type="text" name="busqueda" id="busqueda" value="{{ busqueda | default('') }}">
        <input type="date" name="fechaInicial" id="fechaInicial" value="{{ fechaInicial | default('') }}">
        <input type="date" name="fechaFinal" id="fechaFinal" value="{{ fechaFinal | default('') }}">
        <input type="submit" value="Buscar">
    </form>

    {% for message in app.flashes('mensaje') %}
        <div class="alert alert-primary" role="alert">
            {{ message }}
        </div>
    {% endfor %}
	<div id="galeria">
		<div class="container">
			<div class="col-xs-12 col-sm-12 ">
				<div class="imagenes_galeria">
					<table class="table">
						<thead>
							<tr>
								<th scope="col"><a href="{{ path('app_imagen_index_ordenado', {ordenacion: 'id'}) }}">Id</i></a></th>
								<th scope="col">Nombre</th>
								<th scope="col">Imagen</th>
								<th scope="col"><a href="{{ path('app_imagen_index_ordenado', {ordenacion: 'descripcion'}) }}">Descripcion</a></th>
								<th scope="col"><a href="{{ path('app_imagen_index_ordenado', {ordenacion: 'categoria'}) }}">Categoria</a></th>
								<th scope="col">NumVisualizaciones</th>
								<th scope="col">NumLikes</th>
								<th scope="col">NumDownloads</th>
                                <th scope="col">Fecha de creacion</th>
								<th scope="col">Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for imagen in imagenes %}
								<tr>
									<td>{{ imagen.getId() }}</td>
									<td>
										<a href="{{ path('sym_imagen_show', { id: imagen.getId() }) }}" data-toggle="tooltip" data-original- title="More information">
											{{ imagen.getNombre() }}</a>
									</td>
									<td>
										<img src="{{ asset(imagen.getUrlImagenesSubidas() )}}" alt="{{ imagen.getDescripcion() }}" title="{{ imagen.getNombre() }}" width="100px">
									</td>
									<td>{{ imagen.getDescripcion() }}</td>
									<td>{{ imagen.getCategoria() }}</td>
									<td>{{ imagen.getNumVisualizaciones() }}</td>
									<td>{{ imagen.getNumLikes() }}</td>
									<td>{{ imagen.getNumDownloads() }}</td>
                                    <td>{{ imagen.fecha | date('d/m/Y') }}</td>
									<td>
										<a href="{{ path('app_imagen_show', {'id': imagen.getId() }) }}">Show</a>
										<a href="{{ path('app_imagen_edit', {'id': imagen.getId() }) }}">Edit</a>
                                        <a href="{{ path('app_imagen_delete_json', {'id': imagen.id}) }}" class="delete">Delete</a>
									</td>
								</tr>
							{% else %}
								<tr>
									<td colspan="8">no records found</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<a href="{{ path('app_imagen_new') }}">Create new</a>
{% endblock %}
